altgraph==0.17
appdirs==1.4.3
awscli==1.16.211
bcrypt==3.1.7
beautifulsoup4==4.8.2
botocore==1.12.201
bs4==0.0.1
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
colorama==0.3.9
cryptography
distlib==0.3.0
docutils==0.14
fabric==2.5.0
filelock==3.0.12
idna==2.9
importlib-metadata==1.6.0
invoke==1.4.1
jmespath==0.9.4
macholib==1.14
paramiko==2.7.1
pbr==5.4.4
pyasn1==0.4.6
pycparser==2.20
PyInstaller==3.6
PyNaCl
python-dateutil==2.8.0
PyYAML==5.1
requests==2.23.0
rsa==3.4.2
s3transfer==0.2.1
six==1.12.0
soupsieve==2.0
stevedore==1.32.0
urllib3==1.25.3
virtualenv==20.0.15
virtualenv-clone==0.5.4
virtualenvwrapper==4.8.4
zipp==3.1.0
